.contact_us {
  display: flex;
  padding: 3em;
  color: antiquewhite;
  justify-content: space-between;
  align-content: center;
  gap: 4em;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin: 0 auto;
  /* background: #9e9f9f; */
  box-shadow: rgba(222, 222, 227, 0.2) 0px 7px 29px 0px;
  max-width: 70%;
  opacity: 80%;
}
.contact_title{
 margin-top: 7em;
 text-align: justify;
 max-width: 60%;
 color: rgb(16, 10, 10);
 line-height: 1.8em;
 /* font-size: 2em; */
}
.contact_details {
  border-radius: 0.5em;
  /* min-width: 100%; */
  background-color: white;
  padding-right: 5em;
  padding-top: 2em;
  padding-left: 3em;
  padding-bottom: 2em;
  border: solid grey;
  align-items: center;
  box-shadow: rgba(43, 43, 56, 0.2) 0px 7px 29px 0px;
  input {
    min-width: 100%;
    padding: 1em;
    margin-bottom: 1em;
  }
  textarea {
    min-width: 95%;
    padding: 2.3em;
  }
}
.partnership_titles{
  font-size: 1.4em;
  color: rgb(4, 64, 74);
  font-weight: 600;

}
.contactss{
  color: brown;
  font-size: 1em;
}